<% include templates\_header.ejs %>
<div class="container">
  <div class="">

    <p>
      <a href="/admin/searchUser">Search Users</a><br>
      <a>Search Article</a><br>
      <a>Create Admin User</a>
    </p>

  </div>
</div>

<% include templates\_footer.ejs %>
