<% include templates/_header.ejs %>
<div class="container">
<form action="/AdminArticles" method="POST" enctype="multipart/form-data">
	<input type="text" name="title" placeholder="Title" required><br><br>
	<textarea type="text" name="text" placeholder="Article" required></textarea><br><br>
	<label for="field">Required, only .png, .jpg and .gif files allowed: </label><br>
	<input type="file" id="field" name="adminArticle" required><br>
	<input type="submit" value="post">

</form>
</div>

<% include templates/_footer.ejs %>
