<% include templates\_header.ejs %>
<div class="container">
  <div class="">

    <p>
      <span><a href="/admin/searchUser">Search Users</a></span><br>
      <span><a href="/adminSearchArticle">Search Article</a></span>
    </p>

  </div>
</div>

<% include templates\_footer.ejs %>
