<% include templates\_header.ejs %>
<form action="/editArticle/<%= article.id %>" method="POST">
	<input type="text" name="title" value="<%= article.title %>" autofocus><br>
	<textarea class="article-text-area" type="text" name="articleText"><%= article.articleText %></textarea><br>
	<input type="submit" value="update">
</form>
<% include templates\_footer.ejs %>