<% include templates\_header.ejs %>
<div class="container">
<form action='/forgotPassword' method="POST" >
<p>
	<input name="email" type="email" placeholder="Email Address" autofocus autocomplete="nope"><br>
	<input type="submit" value="Reset Password">
</p>
</form>
</div>
<% include templates\_footer.ejs %>