<% if(paginate.hasPreviousPages || paginate.hasNextPages(pageCount)){ %>
	<span>Works</span>
	<div class="navigation.well-sm#pagination">
		<ul class="pager">
			<% if(paginate.hasPreviousPages) { %>
				<li class="previous">
					<a href="<%= paginate.href(true) %>" class="prev">
						<i class="fa fa-arrow-circle-left">Previous</i>
					</a>
				</li>
			<% } %>
			<% if(pages){ %>
				<% for(page in pages) { %>
					<a class="btn btn-default" href="<%= page.url %>"><%= page.number %></a>
				<% } %>
			<% } %>
			<% if(paginate.hasNextPages(pageCount)){ %>
				<li class="next">
					<a href="<%= paginate.href() %>" class="next">Next</a>
					<i class="fa fa-arrow-circle-right">
				</li>
			<% } %>
		</ul>
	</div>
<% } %>