body{
	font-family: "Calibri", sans-serif;
	text-decoration: hidden;
}

form input{
	margin-top: 10px;
}
form textarea{
	margin-top: 10px;
	height: 200px;
	width: 1000px;

}

.header{
	background-image: url('../images/Lion.jpg');
	text-decoration: none;
	color: white;
}
.header ul{
	color: white;
}

.title-image-article{
	height: 50px;
}

.haze{
	color: #ccd1d0;
}

footer{
	background-image: url("../images/Lion.jpg");
	color: #fff;
	margin: 0px;
	padding-bottom: 10px;
	position:relative;
	bottom:0;
	text-align: center;	
}