body{
	font-family: "Calibri", sans-serif;
	text-decoration: hidden;
	height:100%;
}

form input{
	margin-top: 10px;
}

form textarea{
	width: 500px;
}
.article-text-area{
	margin-top: 10px;
	height: 200px;
	width: 1000px;
}
.body-stretcher{
	min-height:100%;
   position:relative;
}
.header{
	background-image: url('../images/Lion.jpg');
	text-decoration: none;
	color: white;
}
.header ul li a{
	color: white;
}
.header ul li a:hover{
	color: #000;
}

.title-image-article{
	height: 50px;
}

.haze{
	color: #ccd1d0;
}

footer{
	background-image: url("../images/Lion.jpg");
	color: #fff;
	margin: 0px;
	padding-bottom: 10px;
	position:relative;
	bottom:0;
	text-align: center;	
}