</div>
<br><br><br><br><br><br>
<footer><div class="container">
	<section class="col-md-4">
	<div class="col-sm-offset-4">
		<div class="row footer">
			<span>Affilates: <a href="youth.flamesinternational.org">Flames Youth // <a href="flamesinternational.org">Flames International</a></span><br>
		</div>
	</div>
	</section>

	<section class="col-md-4">
	<div class="col-sm-offset-4">
		<div class="row footer">
			<span>Contact us: <a href="mailto:lionbrandtv@gmail.com">Email us</a></span>
		</div>
	</div>
	</section>

	<section class="col-md-4">
	<div class="col-sm-offset-4">
		<div class="row footer">
			<span>LionBrandTV &#169; 2016<span>
	</div>
	</section>

</div>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/javascript/paginate.js"></script>
<script src="/javascript/custom.js"></script>
</html>