<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css" />
	<style>
		.header{
			text-align: center;
			background-image: url('/public/images/Lion.jpg');
			text-decoration: none;
			color: black;
		}
	</style>

</head>
<body>
<div class="container">
<div class="header">
	<h2>Reset Password</h2><br><br>
</div>
<div>
	<p>
	You are receiving this because you (or someone else) have requested the reset of the password for your account.<br><br>
    'Please click on the following link, or paste this into your browser to complete the process:<br><br>
    <a href='{{url}}'>{{url}}</a><br><br>
    'If you did not request this, please ignore this email and your password will remain unchanged.<br><br>
	</p>
</div>
</div>

</body>
</html>
